html {
    background-color: #313131;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
}

*>a {
    text-decoration: none;
    color: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ffbb36;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffbb36;
    border-radius: 10px;
}

.aoboshi-one-regular {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
}

#bodySim {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, auto);
}

#space-left,
#space-right {
    width: 15vw;
    height: 100%;
}

#space-right {
    background-image: url('./imgs/shen-tra.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#containerMain {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #252525;
    width: 70vw;
}

#intImg>img {
    height: 180px;
    width: auto;
}

#intImg {
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

#spanRight,
#spanLeft {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#spanRight>div {
    background-color: #ffbb36;
    width: 100%;
    height: 5px;
}

#spanLeft>div {
    background-color: #3899ff;
    width: 100%;
    height: 5px;
}

#navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    padding: 2px;
}

#bancontent {
    text-align: center;
    color: #ffffff;
}

#pool>h1 {
    text-decoration: underline;
}

.bonusQ {
    color: #ffbb36;
}

#bonusList {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#randomizing {
    text-align: center;
    color: #ffffff;
}

#appendBans {
    display: block;
    grid-template-rows: repeat(5, 1fr);
}

.banned {
    color: #ffbb36;
}

button,
button::after {
    border: 1px solid rgb(0, 255, 213);
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
}

button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 're-pick';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
}

button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
    0% {
        clip-path: var(--move1);
        transform: translate(0px, -10px);
    }

    10% {
        clip-path: var(--move2);
        transform: translate(-10px, 10px);
    }

    20% {
        clip-path: var(--move3);
        transform: translate(10px, 0px);
    }

    30% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    40% {
        clip-path: var(--move5);
        transform: translate(10px, -10px);
    }

    50% {
        clip-path: var(--move6);
        transform: translate(-10px, 10px);
    }

    60% {
        clip-path: var(--move1);
        transform: translate(10px, -10px);
    }

    70% {
        clip-path: var(--move3);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--move2);
        transform: translate(10px, -10px);
    }

    90% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    100% {
        clip-path: var(--move1);
        transform: translate(0);
    }
}

.bannedPG {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.bannedPG:nth-child(even) {
    background-color: #292929;
}

#execute {
    cursor: pointer;
}

#execute:hover {
    color: #ffbb36;
}

#randomizing>h1 {
    text-decoration: underline;
}

#randomizing>p>span {
    color: #ffbb36;
}

#randomizing>p>span:nth-child(even) {
    color: #3899ff;
}

#bonusList>div:nth-child(even) {
    background-color: #292929;
}

.banGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.banGrid:nth-child(even) {
    background-color: #292929;
}

.seasonN {
    color: #3899ff;
}

.selected {
    color: #3899ff;
    border-color: #3899ff;
    border-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
}

.page:hover {
    color: #ffbb36;
}

.page:active {
    color: #3899ff;
}

#rankHeader {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 3px;
    font-size: 15px;
    text-align: center;
    background-color: #ffffff;
}

.rankRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    padding: 2px;
}

.rankRow:nth-child(even),
.rowGrade:nth-child(even),
.torneoOld:nth-child(even) {
    background-color: #292929;
}

.torneoOld {
    display: grid;
    color: #ffffff;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    align-items: center;
}

iframe {
    height: 350px;
    width: auto;
}

.rankRow>p {
    margin: 0;
}

.rankRow>p>img {
    height: auto;
    width: 70px;
}

#Lastwinner {
    border-color: #ffbb36;
    border-width: 2px;
    border-style: solid;
}

.rowGrade {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 3px;
    color: #ffffff;
}

.rowGrade>div>img {
    width: 250px;
    height: auto;
}

#history {
    display: grid;
    grid-template-rows: repeat(auto, 1fr)
}

.rowGrade>div:nth-child(1) {
    border-color: #e6e4e4;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 3px;
    border-width: 2px;
}

.rowGrade>div:nth-child(2) {
    padding: 5px;
}

@media screen and (max-width: 1030px) {

    #space-left,
    #space-right {
        width: 10vw;
    }

    #containerMain {
        width: 80vw;
    }
}

@media screen and (max-width: 940px) {

    #space-left,
    #space-right {
        width: 5vw;
    }

    #containerMain {
        width: 90vw;
    }
}

@media screen and (max-width: 820px) {

    #space-left,
    #space-right {
        width: 0;
    }

    #containerMain {
        width: 100vw;
    }
}

@media screen and (max-width: 740px) {

    .rankRow,
    #navbar,
    .banGrid {
        font-size: 17px;
    }
}

@media screen and (max-width: 640px) {

    .rankRow,
    #navbar,
    .banGrid {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {

    .rankRow,
    #navbar,
    .banGrid {
        font-size: 12px;
    }
}

@media screen and (max-width: 460px) {

    .rankRow,
    #navbar,
    .banGrid {
        font-size: 10px;
    }

    #navbar {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 620px) {

    .rowGrade {
        display: block;
        text-align: center;
        align-items: center;
    }

    .rowGrade>div:nth-child(1) {
        border: 0;
        display: block;
    }
}

@media screen and (max-width: 730px) {

    .torneoOld {
        display: block;
    }
}

@media screen and (max-width: 1110px) {

    .rankRow>p:nth-child(2) {
        max-width: 150px;
        overflow-x: hidden;
    }

    .rankRow>p::-webkit-scrollbar-button {
        display: none;
    }

    /* Chrome, Edge, and Safari */
    .rankRow>p::-webkit-scrollbar {
        display: none;
    }

    .rankRow>p::-webkit-scrollbar-track {
        display: none;
    }

    .rankRow>p::-webkit-scrollbar-thumb {
        display: none;
    }
}

#seasonList {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    padding: 3px;
    font-size: 15px;
    text-align: center;
    background-color: #e0e0e0;
}

#seasonList>p {
    margin: 0;
}

.actualSeason {
    color: #3899ff;
}